.bg-image {
  background-image: url("https://cdn.pixabay.com/photo/2023/06/01/05/58/sign-8032702_960_720.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* Toda la pantalla */
}